:root {
    --color-mainwindow-background: #ffffff;
    --color-sidebar-background: #f4f5f7;
    --color-sidebar-selected-background: #e5e5e5;
    --color-font: #333333;
    --color-button-background: #2d6bdc;
    --color-button-onclicked-background: #1e54b6;
}